{% extends 'base.html' %}
{% block content %}
<style>
    body{
        background-color: #121212;
    }
    .artist-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 20px;
        background-color: #121212;
        color: #fff;
        }

    .artist-card {
        background-color: #181818;
        border: 1px solid #1db954;
        border-radius: 8px;
        padding: 15px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s, box-shadow 0.2s;
        }

    .artist-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
        }

    .artist-card h3 {
        margin-bottom: 15px;
        font-size: 18px;
        color: #fff;
        }

    .artist-card button {
        background-color: #1db954;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;
        }

    .artist-card button:hover {
        background-color: #158443;
        }
    a{
      text-decoration: none;
      color: white;
    }
    p{
    color: #158443;
    }
</style>
<div class="artist-cards">
  {% for artist in artists %}
    <a href="/artist/{{ artist.id }}">
      <div class="artist-card">
        <h3>{{ artist.name }}</h3>
        <p>{{ artist.streams }}</p>
      </div>
    </a>
  {% endfor %}
</div>

{% endblock %}
